.DS_Store
.vim/backup/*
.vim/custom-dictionary.utf-8.add
.vim/tags/*
.vim/UltiSnips/*
.vim/tmp/*
.vim/bundle
.vim/session/*
.vim/haskellmode.config
.vim/.netrwhist
**doc/tags
weechat/logs/*
weechat/*.conf
!weechat/weechat.conf
weechat/python/sysinfo.py
weechat/python/.ropeproject/**
weechat/weechat.log
weechat/urlserver_list.txt
