Sublime\ Text\ 2/Packages/User/*.tmTheme*
.DS_Store
.vim/bundle/*
.vim/backup/*
.vim/custom-dictionary.utf-8.add
.vim/tags/*
.vim/UltiSnips/*
.vim/tmp/*
*.spl
.mpd/mpd.log
.mpd/mpd.error
.mpd/**
.vim/src/*
.vim/haskellmode.config
