.DS_Store
fish/fish_history
fish/fishd.b8e856383f1c
fish/generated_completions/
.vim/backup/*
.vim/bundle/*/doc/**
.vim/custom-dictionary.utf-8.add
.vim/tags/*
.vim/bundle/*
.vim/spell/*
.vim/session/*
.vim/haskellmode.config
.vim/.netrwhist
